# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\Categorical-3D-SRPE\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
